// ligatured operators ≥ ≤

@import '../../assets/scss/vendors/include-media';
@import '../../assets/scss/vendors/normalize';

@import '../../assets/scss/base/variables';
@import '../../assets/scss/base/functions';
@import '../../assets/scss/base/mixins';
@import '../../assets/scss/base/helpers';
@import '../../assets/scss/base/reset';
@import '../../assets/scss/base/cms-reset';
@import '../../assets/scss/base/forms';
@import '../../assets/scss/base/wp-reset';
@import '../../assets/scss/base/typography';

#wrapper {
	display: flex;
	flex-direction: column;
}

html,
body {
  height: 100%;
}

.main {
	flex-grow: 1;
}

.container {
	max-width: 1160px;
	padding: 0 15px;
	margin: 0 auto;
}

.container-sm {
	max-width: 1020px;
	padding: 0 15px;
	margin: 0 auto;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex-lg {
	@include media(">=tablet") {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.primary-header {
	font-weight: 900;
	text-transform: uppercase;
}

.col-two {
	@include media(">=tablet") {
		width: 30%;
		padding-right: 15px;
	}
	@include media(">=desktop") {
		width:  25%;
	}
}

.col-three {
	@include media(">=tablet") {
		width: 75%;
		padding-left: 15px;
	}
}

.col-four {
	@include media(">=tablet") {
		width: 70%;
		padding-left: 15px;
	}
	@include media(">=desktop") {
		width: 75%;
	}
}

.header {
	padding: 10px 15px;
	z-index: 10;
	margin-bottom: 30px;
	@include media(">=tablet") {
		margin-bottom: 25px;
		padding: 25px 30px;
	}
	.logo {
		font-size: 30px;
		font-weight: 700;
		position: relative;
		z-index: 200;
		a {
			color: $blue;
			text-decoration: none;
		}
	}
	.social {
		display: block;
		text-align: right;
		@include media(">=tablet") {
			text-align: left;
		}
	}
	.menu {
		margin-bottom: 10px;
		@include media(">=tablet") {
			margin-bottom: 0;
		}
	}
}

.home-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin-bottom: 0;
}
