<header 
  class="header"
  [ngClass]="{'nav-active': isnavActive}"
>
  <div class="flex-lg">
    <div class="menu flex">
      <div 
       (click)="clickMenu()"
        class="nav-opener"
      >
        <div class="opener">
          <span class="bar top"></span>
          <span class="bar middle"></span>
          <span class="bar bottom"></span>
        </div>
      </div>
      <nav class="nav">
        <ul>
          <li class="active">
            <a href="#">startseite</a>
          </li>
          <li>
            <a href="#">news</a>
          </li>
          <li>
            <a href="#">dominik nepp</a>
            <ul>
              <li>
                <a href="#">private</a>
              </li>
              <li>
                <a href="#">politish</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">instagram</a>
          </li>
          <li>
            <a href="#">facebook</a>
          </li>
          <li>
            <a href="#">kontakt</a>
          </li>
        </ul>
      </nav>
      <div class="logo">
        <a href="#">Dominik Nepp</a>
      </div>
    </div>
    <ul class="social">
        <li>
          <a href="#">
            <span class="icon-facebook"></span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon-instagram"></span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon-twitter-logo-silhouette"></span>
          </a>
        </li>
      </ul>
  </div>
</header>