<div (click)="clickMenu(false)" class="nav-opener">
  <div class="opener">
    <span class="bar top"></span>
    <span class="bar middle"></span>
    <span class="bar bottom"></span>
  </div>
</div>
<nav class="nav">
  <ul>
    <li class="active">
      <a routerLink="">startseite</a>
    </li>
    <li>
      <a routerLink="newspage">news</a>
    </li>
    <li>
      <a href="#">dominik nepp</a>
      <ul>
        <li>
          <a href="#">private</a>
        </li>
        <li>
          <a href="#">politish</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">instagram</a>
    </li>
    <li>
      <a href="#">facebook</a>
    </li>
    <li>
      <a href="#">kontakt</a>
    </li>
  </ul>
</nav>