
$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px,
	'widescreen-xl': 2000px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import '../../assets/scss/vendors/include-media';
@import '../../assets/scss/vendors/normalize';

@import '../../assets/scss/base/variables';
@import '../../assets/scss/base/functions';
@import '../../assets/scss/base/mixins';
@import '../../assets/scss/base/helpers';
@import '../../assets/scss/base/reset';
@import '../../assets/scss/base/cms-reset';
@import '../../assets/scss/base/forms';
@import '../../assets/scss/base/wp-reset';
@import '../../assets/scss/base/typography';

#wrapper {
	display: flex;
	flex-direction: column;
}

html,
body {
  height: 100%;
}

.main {
	flex-grow: 1;
}

.container {
	max-width: 1160px;
	padding: 0 15px;
	margin: 0 auto;
}

.container-sm {
	max-width: 1020px;
	padding: 0 15px;
	margin: 0 auto;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex-lg {
	@include media(">=tablet") {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.primary-header {
	font-weight: 900;
	text-transform: uppercase;
}

.col-two {
	@include media(">=tablet") {
		width: 30%;
		padding-right: 15px;
	}
	@include media(">=desktop") {
		width:  25%;
	}
}

.col-three {
	@include media(">=tablet") {
		width: 75%;
		padding-left: 15px;
	}
}

.col-four {
	@include media(">=tablet") {
		width: 70%;
		padding-left: 15px;
	}
	@include media(">=desktop") {
		width: 75%;
	}
}

.header {
	padding: 10px 15px;
	z-index: 10;
	margin-bottom: 30px;
	@include media(">=tablet") {
		margin-bottom: 25px;
		padding: 25px 30px;
	}
	.logo {
		font-size: 30px;
		font-weight: 700;
		position: relative;
		z-index: 200;
		a {
			color: $blue;
			text-decoration: none;
		}
	}
	.social {
		display: block;
		text-align: right;
		@include media(">=tablet") {
			text-align: left;
		}
	}
	.menu {
		margin-bottom: 10px;
		@include media(">=tablet") {
			margin-bottom: 0;
		}
	}
}

.home-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin-bottom: 0;
}

.nav-opener {
	margin-right: 25px;
	cursor: pointer;
	&:hover {
		.opener {
			.top {
				transform: translateX(-2px);
			}
			.middle {
				transform: translateX(2px);
			}
			.bottom {
				transform: translateX(-2px);
			}
		}
	}
}

.opener {
	width: auto;
	margin: 0 auto;
	display: inline-block;
	width: 32px;
	text-align: center;
	height: auto;
	position: relative;
	transition: all .3s ease;
	z-index: 200;
	.bar {
		display: block;
		height: 6px;
		width: 32px;
		background: $blue;
		margin: 5px auto;
	}
	.middle {
		margin: 0 auto;
	}
	.bar {
		transition: all .3s ease;
	}
}

.nav-active {
	.opener {
		.top {
			transform: translateY(11px) rotateZ(45deg);
		}
		.bottom {
		   transform: translateY(-11px) rotateZ(-45deg);
		}
		.middle {
		   width: 0;
		}
	}
	.nav-opener {
		&:hover {
			.opener {
				.top {
					transform: translateY(11px) rotateZ(45deg);
				}
				.bottom {
					transform: translateY(-11px) rotateZ(-45deg);
				}
			}
		}
	}
}

.nav {
	@include animate(opacity transform);
	position: absolute;
	left: 0;
	transform: translateX(-100%);
	top: 0;
	background: $white;
	width: 100%;
	overflow: hidden;
	opacity: 0;
	height: 100vh;
	padding: 150px 30px 30px 30px;
	@include media(">=tablet") {
		width: 400px;
	}
	@include media(">=desktop") {
		padding: 200px 30px 30px 30px;
	}
	ul {
		@extend %listreset;
		li {
			display: block;
			ul {
				padding-left: 30px;
			}
		}
		a {
			@include animate(opacity);
			display: block;
			color: $black;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 24px;
			padding: 10px 0;
			&:hover {
				opacity: 0.6;
			}
		}
		.active {
			a {
				font-weight: 700;
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

.nav-active {
	.nav {
		transform: translateX(0);
		opacity: 1;
	}
}

.social {
	@extend %listreset;
	li {
		display: inline-block;
		vertical-aligin: middle;
		a {
			@include animate(background color);
			text-decoration: none;
			display: block;
			border-radius:100%;
			width: 27px;
			height: 27px;
			background: $blue;
			color: $white;
			position: 	relative;
			border: 1px solid $blue;
			&:hover {
				background: none;
				color: $blue;
			}
			span {
				font-size: 16px;
				transform: translate(-50%, -50%);
				top: 50%;
				left: 50%;
				position: absolute;
			}
		}
	}
}