<app-header></app-header>

<section class="news-block">
  <div class="container-sm wrap-all-news">
    <div class="news-header">
      <h2 class="primary-header">news</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
    </div>

    <app-news-wrap></app-news-wrap>

  </div>
  <div class="news-pagination">
    <div class="container-sm flex-lg">
      <div class="num-page col-two">
        <span>Seite 1 von 21</span>
      </div>
      <div class="btn-block col-four flex">
        <div class="btn-item">
          <a href="#" class="btn-link">« Vorige Seite</a>
        </div>
        <div class="btn-item">
          <a href="#" class="btn-link">Nächste Seite »</a>
        </div>
      </div>
    </div>
  </div>
</section>
